<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <a href="/home">Home</a>
      <a href="/works">Works</a>
      <a href="/photo-gallery">Photo Gallery</a>
    </nav>

    <h1>About</h1>

    <h2>Bio</h2>

    <p>
      Ricky Dene Gervais was born in a suburb of Reading, Berkshire, to Eva
      Sophia (House) and Lawrence Raymond Gervais, who was a hod carrier and
      labourer. His father was born in Ontario, Canada, of French-Canadian
      descent, and his mother was English. He was educated at Ashmead
      Comprehensive School and went on to study at University College, London,
      where he gained a degree in Philosophy.
    </p>

    <p>
      After university, Gervais attempted to pursue a pop career with Seona
      Dancing, a duo he formed with a fellow student. Similar to many groups in
      the early 1980s, they were a synth-pop act with a somewhat pretentious
      name and exhibiting a strong musical influence by David Bowie. Gervais
      adopted a vocal style that has often been compared to Bowie; comedian Paul
      Merton would later joke that Bowie nicked their music. Seona Dancing were
      briefly signed to a recording contract and released two singles, "More to
      Lose" and "Bitter Heart". The latter was slightly reminiscent of Queen's
      "Body Language" from a year earlier, featuring a similar synthesizer riff.
      The act failed to breach the UK top 75 and earn a place in the Guinness
      Book of British Hit Singles, but clips have survived and they have been
      frequently used to tease Gervais in interviews. Despite his own lack of
      success, Gervais stayed within the music industry for a while and even
      spent time as the manager of Suede.
    </p>

    <p>
      Gervais had to wait a long time before achieving the fame he had hoped
      would come with a pop career. In the 1990s he formed a writing partnership
      with Stephen Merchant. In 2000, he landed his own comedy chat show on
      Channel 4, Meet Ricky Gervais (2000), which attracted legendary guests
      such as Jimmy Savile, Michael Winner, Paul Daniels, Peter Purves, Stefanie
      Powers, Jim Bowen and Midge Ure. The series only ran for six episodes but
      a year later greater stardom came for Gervais with the debut of BBC comedy
      The Office (2001). Although it was not initially received to great acclaim
      or viewing figures, it is now often cited as one of the greatest comedy
      series of all time and has been credited with reinventing the sitcom.
      Gervais starred as the obnoxious and embarrassing office manager David
      Brent, who has since been voted in various polls one of the greatest comic
      characters. It also prompted an American remake, The Office (2005).
      Gervais had further success with another sitcom, Extras (2005), which
      attracted a series of celebrity guests, including Ben Stiller, Samuel L.
      Jackson and his musical idol David Bowie. It served as a satire on the
      entertainment industry and leading stars were happy to play along by
      performing exaggerated versions of themselves.
    </p>

    <p>
      Gervais has become one of the most popular and omnipresent comedy
      performers of the 21st century, hosting the Golden Globe awards, lending
      his talent to films, becoming a voice artist and appearing on numerous
      talk shows. He has become one of the best known British comedy figures in
      America. He is also regularly the subject of controversy due to his dark
      comedy. Some critics have called him insensitive and outrageous. Gervais
      has responded by saying "offense is the collateral damage of free speech",
      he has said that he doesn't aim for a mass audience, he's just pleased
      he's managed to get one, and he has compared his style of comedy and the
      audience he has acquired with being Iggy Pop in preference to being Phil
      Collins.
    </p>
  </body>
</html>
