<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>

    <h1>You've landed on Ricky's Photo Gallery</h1>

    <h3>Please put your phones on flight mode, sit back and enjoy the show!</h3>

    <div id="photo-gallery">
      <img src="/images/ricky1.jpg" id="ricky1" />
      <img src="/images/ricky2.jpg" id="ricky2" />
      <img src="/images/ricky3.jpg" id="ricky3" />
      <img src="/images/ricky5.jpg" id="ricky5" />
      <img src="/images/ricky6.jpg" id="ricky6" />
    </div>
  </body>
</html>
