<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/photo-gallery">Photo Gallery</a>
    </nav>

    <h1>Here are the works of Ricky Gervais!</h1>

    <img src="https://media.giphy.com/media/u3dsD4786aaVW/giphy.gif" alt="" />

    <ul>
      <li>After Life</li>
      <li>The Office</li>
      <li>The Ricky Gervais Show</li>
      <li>The Invention of Lying</li>
      <li>Derek</li>
      <li>Extras</li>
      <li>Ghost Town</li>
    </ul>

    <p>
      For a comprehensive list of works from Ricky, please
      <a href="https://www.imdb.com/name/nm0315041/" _blank>click here</a>
    </p>
  </body>
</html>
